body {
  background-color: rgb(19, 17, 15);
  background-image: url(bilder/pexels-eberhard-grossgasteiger-844297.jpg);
}

.menu {
  font-family: "Zen Dots", cursive;
  text-align: center;
  font-size: 20px;
  color: blue;
}
.mydiv {
  border: 10px;
  text-align: center;
  border-color: rgb(196, 74, 9);
}

/*<div class="mydiv">
      <img
        src="bilder/cloudy-blue-sky-11.jpg"
        alt="djungel"
        width="800px"
        height="200px"
      />*/

.menu2 {
  padding: 20px;
  width: 200px;
  border-radius: 60px;
  background-color: rgb(155, 207, 241);
  margin-bottom: 300px;
  text-align: center;
  margin: auto;
  /*font-family: "Dancing Script", cursive;*/
  font-size: 20px;
  font-family: "Zen Dots", cursive;
  margin-top: 70px;
  border: 5px solid black;
}
.menu2:hover {
  color: rgb(251, 255, 0);
  background-color: blue;
}

.bred {
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgb(240, 236, 247);
  height: 200px;
  width: 700px;
  margin-top: 100px;
  box-shadow: 10px 10px 10px rgb(48, 48, 48);
  border: 5px solid black;
}
.bred:hover {
  background-color: rgb(247, 242, 242);
  box-shadow: 10px 10px 10px rgb(43, 43, 43);
}
.bred h1 {
  text-decoration: line-through;
  text-align: center;
  font-size: 30px;
  color: rgb(0, 128, 90);
  font-family: "Architects Daughter", cursive;
  font-family: "Zen Dots", cursive;
}

ul {
  color: cornflowerblue;
  display: block;
}

.bred p {
  font-family: "Kalam", cursive;
  margin-left: 250px;
  font-size: 30px;
}

.hej h1 {
  font-family: "Zen Dots", cursive;
  font-size: 30px;
  margin-top: 129px;
  display: flex;
  transform: rotate(-90deg);
  margin-right: 80px;
  position: absolute;
}
.hej img {
  height: 211px;
  width: 270px;
  margin-block-start: 110px;
  margin-left: 798px;
  border: 6px solid black;
  box-shadow: 10px 10px 10px rgb(46, 46, 46);
  display: flex;
}

.f img {
  height: 211px;
  width: 270px;
  margin-left: 497px;
  border: 6px solid black;
  box-shadow: 10px 10px 10px rgb(46, 46, 46);
  position: absolute;
  margin-bottom: 1000px;
  display: flex;
}

.g img {
  height: 211px;
  width: 270px;
  border: 6px solid black;
  box-shadow: 10px 10px 10px rgb(46, 46, 46);
  position: absolute;
  margin-left: 198px;
  margin-top: 100px;
}
.painting img {
  width: 298px;
  height: 271px;
  border: 5px solid lightskyblue;
  object-fit: cover;
  margin-top: 100px;
}
.painting {
}
.painting p {
  color: black;
  font-size: 25px;
  margin-top: 490px;
  font-family: "Zen Dots", cursive;
  margin-left: 500px;
}
